h1 {
  text-align: center;
}
.likeButton {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  justify-content: center;
}
.counter-container {
  border: 2px solid blue;

  margin: 10px;
}
.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.button-color {
  background-color: blue;
  height: 30px;
  width: 30px;
  color: white;
}
